body {
    background-image: url(/background_homepage.png);
    background-size: 100%;
}

.content {display: flex;}

.left_box {
    width: 60%;
    text-align: justify;
    margin-top: 7%;
}

p, h1, h2{color: rgb(217, 194, 248);}

p{font-size: larger;}

.right_box { 
    display: flex;
    width: 60%;
    height: 20%;
    margin: 2% 0 0 20% ;
}
.game{
    width: 20%;  
    flex: 1;
}

.hero{
    flex:1;
    margin-left: 10%;
}

img{width: 100%;}

.theme_content {
    display: flex;
    width: 60%;
    margin-left: 20%;
    padding-top: 20%;
}
    
.theme_game {
    flex: 1;
    padding-left: 15%;
}

.theme_hero { 
    flex: 1;
    padding-left: 18%;
  
  
}
